[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "==1.16.0"
cryptography = "==43.0.0"
pycparser = "==2.22"
pymysql = "==1.1.1"
sqlalchemy = "==2.0.31"
typing-extensions = "==4.12.2"
streamlit = "*"
streamlit-aggrid = "*"

[dev-packages]

[requires]
python_version = "3.12"
